/* NAVBAR  STYLE */
.navbar li {
    margin: 0px;
  }
  .navbar li:last-child {
    margin: 0;
  }
  .cart-badge {
    position: absolute;
    background: #ff4c3b;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: -36%;
    right: -8px;
    padding: 3px;
  }
  .nav-bottom-line {
    position: relative;
  }
  .nav-bottom-line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ff6700;
    transition: all 0.3s ease;
  }
  .nav-bottom-line:hover {
    color: #ff6700;
  }
  .nav-bottom-line:hover::before {
    width: 65%;
  }
  .navbar li a {
    /* color: rgb(11, 109, 161); */
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", Sans-serif;
    color: #000;
    transition: all ease-in 0.2s;
    padding: 9px 18px;
    border-radius: 4px;
  }
  
  .nav-active {
    /* background-color: white; */
    box-shadow: 5px -1px 8px -6px grey;
    transition: 0.3s ease-in-out;
    z-index: 100;
  }
  
  .nav-button {
    background-color: #ff6700;
    padding: 0 34px;
  }
  .nav-button:hover {
    background-color: #ff6700;
  }
  .menu-icon {
    font-size: 36px;
  }
  /* RESPONSIVE STYLE */
  @media only screen and (max-width: 768px) {
    .navbar li {
      margin: 18px 15px;
    }
    .navbar li a {
      /* color: rgb(11, 109, 161); */
      color: #000;
    }
  }
  @media only screen and (max-width: 1023px) {
    .navbar li {
      margin: 18px 15px;
    }
    .notificationCounter {
      top: -15px;
      right: 425px;
    }
  }
  
  @media only screen and (max-width: 822px) {
    .notificationCounter {
      top: -15px;
      right: 320px;
    }
  }
  
  @media only screen and (max-width: 610px) {
    .notificationCounter {
      top: -15px;
      right: 220px;
    }
  }
  
  @media only screen and (max-width: 409px) {
    .notificationCounter {
      top: -15px;
      right: 125px;
    }
  }
  